<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Music App</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <div id="box">
      <!-- Navigation Bar -->
      <header>
        <nav>
          <img src="/static/images/headphones.png" alt="headphones" />
          <a href="#">Home</a>
          <ul></ul>
          <ul>
            <!--Only for user with created profile-->
            <li><a href="#">Create Album</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </nav>
      </header>
      <!-- End Navigation Bar -->

      <!-- Main Content -->
      <!--Details Page-->
      <section id="detailsPage">
        <div class="wrapper">
          <div class="albumCover">
            <!-- Album Image -->
            <img src="/static/images/Lorde.jpg" alt="Cover Image" />
          </div>

          <div class="albumInfo">
            <div class="albumText">
              <!-- Album Info -->
              <h1>Name: Melodrama</h1>
              <h3>Artist: Lorde</h3>
              <h4>Genre: Pop Music</h4>
              <h4>Price: $7.33</h4>
              <p>
                Description: Melodrama is the second studio album by New Zealand
                singer-songwriter Lorde. It was released on 16 June 2017 by Lava
                and Republic Records and distributed through Universal.
              </p>
            </div>

            <div class="actionBtn">
              <!-- Album Buttons -->
              <a href="#" class="edit">Edit</a>
              <a href="#" class="remove">Delete</a>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer>
        <div>&copy;SoftUni Team. All rights reserved.</div>
      </footer>
      <!-- End Footer -->
    </div>
  </body>
</html>
