<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Music App</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <div id="box">
      <!-- Navigation Bar -->
      <header>
        <nav>
          <img src="/static/images/headphones.png" alt="headphones" />
          <a href="#">Home</a>
          <ul></ul>
          <ul>
            <!--Only for user with created profile-->
            <li><a href="#">Create Album</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </nav>
      </header>
      <!-- End Navigation Bar -->

      <!-- Main Content -->
      <!-- Delete Profile Page-->
      <section id="detailsPage">
        <div class="wrapper">
          <div class="profileText">
            <!-- Delete Profile Form -->
            <h1>Are you sure you want to delete your profile?</h1>
            <form>
              <!-- Confirm Button -->
              <button class="delete-profile" type="submit">Delete</button>
            </form>
            <!-- End Delete Profile Form -->
          </div>
        </div>
      </section>
      <!-- Footer -->
      <footer>
        <div>&copy;SoftUni Team. All rights reserved.</div>
      </footer>
      <!-- End Footer -->
    </div>
  </body>
</html>
