body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #f3f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.no-posts {
    text-align: center;
}

.posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin: 0;
    color: #555;
}

.post p {
    color: #666;
}

.post-meta {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    font-size: 0.9em;
    color: #999;
}
