<ul class="menu">
    <li class="menu-item">
        <a href="{% url 'index' %}" class="menu-link">
            <i class="ai-home"></i>
            <span>Home</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="{% url 'dashboard' %}" class="menu-link">
            <i class="ai-file"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="ai-game-controller"></i>
            <span>Games</span>
        </a>
    </li>    
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="ai-book-open"></i>
            <span>Books</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="ai-bell"></i>
            <span>Notifications</span>
        </a>
    </li>
    <li class="menu-item">    
        <a href="#" class="menu-link">
            <i class="ai-gear"></i>
            <span>Settings</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="#" class="menu-link">
            <i class="ai-person"></i>
            <span>Profile</span>
        </a>
    </li>
</ul>
