{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Edit Review</h1>
        <form method="post" class="mt-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group mb-4">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
{% endblock %}