{% extends 'base.html' %}

{% block content %}
<section id="detailsPage">
<div class="wrapper">
  <div class="albumCover">
    <!-- Album Image -->
    <img src="/images/Lorde.jpg" alt="Cover Image" />
  </div>

  <div class="albumInfo">
    <div class="albumText">
      <!-- Album Info -->
      <h1>Name: Melodrama</h1>
      <h3>Artist: Lorde</h3>
      <h4>Genre: Pop Music</h4>
      <h4>Price: $7.33</h4>
      <p>
        Description: Melodrama is the second studio album by New Zealand
        singer-songwriter Lorde. It was released on 16 June 2017 by Lava
        and Republic Records and distributed through Universal.
      </p>
    </div>

    <div class="actionBtn">
      <!-- Album Buttons -->
      <a href="#" class="edit">Edit</a>
      <a href="#" class="remove">Delete</a>
    </div>
  </div>
</div>
</section>
{% endblock %}